{% extends "base_app_template.html" %}

{% block head_content %}
    <title>Application</title>
{% endblock%}

{% block container %}

    <div class="container">
        <div class="row">
            <h1 class="text-right">
                <!--#@templates_base_app_one_template_title-->
            </h1>
            <table class="table">
                <tbody>
                    <!--#@templates_base_app_one_table_field_value-->
                </tbody>
            </table>
        </div>
        <div class="row">
            <!--#@templates_base_app_one_back_button-->
        </div>
    </div>

{% endblock %}